[submodule "extern/CommonLibSF"]
	path = extern/CommonLibSF
	url = https://github.com/shad0wshayd3-SF1/CommonLibSF.git
[submodule "extern/DKUtil"]
	path = extern/DKUtil
	url = https://github.com/shad0wshayd3/DKUtil.git
